@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;
}

/* The reason that grandchildren are targeted is that grandchildren have bg
 * colors. If children were targeted, because they do not have bg colors, the
 * padding would be white. This allows each grandchild to specify their
 * bg color while still being padded */
body > header > *,
body > main > *,
body > footer > * {
  @apply px-3;
}

body > header,
body > footer {
  flex-grow: 0;
  flex-shrink: 0;
}

body > main {
  flex-grow: 1;
  flex-shrink: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
