#menunav a {
  @apply font-serif;
  @apply text-xl;
  @apply underline;
  text-transform: capitalize;
}
#menunav a.selected {
  @apply font-bold;
}

#menunav ul {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.menu .heading {
  @apply text-lg;
  text-transform: capitalize;
}

.menu .substitution {
  @apply text-xs;
}
