select,
.flatpickr-current-month select.flatpickr-monthDropdown-months {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input {
  @apply border-dashed;
  @apply border-black;
  @apply border-l-0;
  @apply border-r-0;
  @apply border-t-0;
  @apply border-b-2;
}

.txt-input {
  @apply w-64;
}

.wizard li .circle {
  width: 42px;
  height: auto;
}

.wizard li.connector {
  flex: 1 1;
  border: solid 1px black;
  height: 0;
  border-bottom: none;
  align-self: center;
}

.mygrid > * {
  margin-top: 0.38rem;
  margin-right: 0.45rem;
}
